{% extends "main.html" %}
{% load staticfiles %}
{# {% load embed_video_tags %} #}
{# {% load mptt_tags %} #}

{% block index %}

<div id="h_bg"><p>ДЛЯ УСПЕШНЫХ ЛЮДЕЙ</p>
	</div>
	
		<div id="head">		
			<div id="logo">
			</div>
		</div>
		
		<div class="caption_red">
			<h1>дорогая мебель</h1>
			<h2>ручной работы</h2>
		</div>
		
		<div class="caption_white">
			<p>Стильно.  Статусно.  Навсегда.</p>
		</div>
		
		<hr>
		
		<div id="bullit">
			<div class="bullit">
			<ul>
				<li><p class="zag">Для Вашего дома</p>
				</li>
			</ul>
			</div>

			<div class="bullit">
			<ul>
				<li><p class="zag">Для Вашего бизнеса</p>
				</li>
			 </ul>
			</div>
			
			<div class="bullit">
			<ul>
				<li><p class="zag">Для Вашего отдыха</p>
				</li>
			</ul>	
			
			</div>
		</div>

	<div id="menu">
			<ul>
				{# <li><a href="/contact/">спросить</a></li> #}
				<li><a href="#ask">спросить</a></li>
				<li class="l"><a href="/advice/">полезные советы</a></li>
				<li class="l"><a href="/contact/">заказать</a></li>
			</ul>
		</div>

<div class="light">
			<p>Вот пришло время дополнить Ваш интерьер  в квартире или кабинете предметом, радующим глаз и одновременно очень практичным, и обязательно притягивающим позитивные эмоции. </p>
			<p>И Вы стремитесь подобрать что-то индивидуальное, красивое и одновременно очень надежное и эффектное!</p>
			<p>Но Вы не хотите потратить кучу времени на выбор из огромного каталога, сомневаться в правильности подобранной мебели, материала или цвета...</p>
			<p>Вам нужно простое и удобное решение? Тогда вы обратились по адресу.</p>
		</div>
		
			<div id="bg_h">
				<div class="h4">
					<h4>Наши постоянные клиенты говорят, что работать с нами -<br/>это удобнее, чем пойти в магазин.</h4>
				</div>
			</div>
		
				
		<div class="dark">
			<h4>И вот почему:</h4>
			<ul>
				<li>Сделанное нами изделие создается именно для Вас, под именно Ваш интерьер, учитывая  Ваши вкусы и предпочтения</li>
				<li>Оно красивое, долговечное, удобное</li>
				<li>Каждое изделие ручной работы неповторимо, и за это не нужно специально доплачивать или просить</li>
				<li>Вы вовлечены в процесс разработки изделия! А создание можете полностью и спокойно доверить нам</li>
				<li>Мы ценим Ваше время и поэтому, если у Вас возникнут новые идеи или вдруг изменятся обстоятельства - достаточно набрать номер нашего телефона. Ведь изделие делаем именно для Вас!</li>
				<li>После покупки мы с радостью предоставим Вам любую поддержку в сервисе (если она понадобится), и обязательно поможем с  улучшением или модификацией изделия в случае изменения условий эксплуатации</li>
				<li>А если вдруг по каким-то причинам  вам придётся расстаться с этим изделием- мы без проблем поможем с последующей продажей, потому что наши изделия с возрастом только растут в цене</li>
			</ul>
		</div>	
		
		<div class="h_">
			<div id="bg_h2">
				<div class="h5">
					<h4>В отличии от изделий "для всех сразу"- наши изделия,<br/>это всегда не скучно!</h4>
				</div>
				<div id="butt_bg"><div id="button"><a class="btn" href="/contact/">ЗАКАЗАТЬ</a></div></div>
			</div>
		</div>
		
		<div class="light">
			<p>Это приятное чувство обладания уникальной дизайнерской вещью, но одновременно достаточно прочной и удобной каждый день!</p>
			<p>У нас нет одного шаблонного стиля оформления изделий, ведь каждый наш клиент - он особенный, со своими предпочтениями и обстоятельствами эксплуатации. И своими вкусами.</p>
		</div>
		
		<div class="h_">
			<div id="bg_h3">
				<div class="h6">
					<h4>Наши изделия изготавливаются с применением ручной горячей ковки,<br/> массива дерева, натурального камня, закалённого стекла.<br/>Только самые подходящие материалы!</h4>
				</div>
			</div>
		</div>
		

		
		<div class="dark">
			<p>Это настоящие, натуральные материалы, которые дарят ощущение уникальности,<br/>а одновременно - надежности и практичности изделия.</p>
			<p>Природный камень не боится царапин, нагрева, не имеет никаких вредных выделений, а прикосновения к нему дают те неподражаемые ощущения стабильности и равновесия.</p>
			<p>Металл, что ковался с помощью горна и молота крепкими и опытными руками кузнецов - он становится прочнее и получает<br/>ту особую пружинистость, что так ценится!</p>
			<p>Массив дерева в мебели это всегда очень солидно  и, конечно же-<br/>экологически чисто. И долговечно!</p>
		</div>	
		
		<div class="h_">
			<div id="bg_h4">
				<div class="h7">
					<h4>Ценность наших изделий с возрастом всегда растет.<br/>Такие изделия никогда не будут устаревшими,<br/>их с возрастом начинают называть антиквариатом!</h4>
				</div>
			</div>
		</div>
		
		<div class="light">
			<p>Вспомните, как дорого ценится старинная мебель (а она вся из массива дерева), вспомните, любая, даже самая простая!</p>
			<p>А вы помните чтобы хоть кто-то сейчас восторгался мебелью, даже очень дорогой,  сделанной из искусственных материалов и купленной 10-15 лет назад? В разговоре это - просто старьё...</p>
			<p style="font-size: 17.5pt;">Мы с любовью и большим вниманием относимся к созданию изделий для Вас!</p>
			<div id="butt_bg2"><div id="button2"><a class="btn" href="/contact/">ЗАКАЗАТЬ</a></div></div>
		</div>
		
		
		
		<div class="h8">
				<h4>Ведь приобретать наши изделия - это как<br/>находить друга на всю жизнь!</h4>
		</div>
		
		<div class="dark" id="ask">
			<p style="font-size: 22pt;">Есть вопросы ? - Задавайте</p>

						<!-- форма связи -->

		<div class="light">					

	<p style="margin-bottom: 0px;">Отправьте нам ваши контактные данные и<br/>в общих чертах опишите что Вам нужно<br/><br/>мы как можно быстрее с Вами свяжемся</p>
<form method="POST" id="feedback-form" role="form" action="/contact/">
 {% csrf_token %}
Ваше имя:
<input name="contact_name" required placeholder="Как к вам обращаться" x-autocompletetype="name" value="" >

e-mail/телефон:
<input name="contact_email" required placeholder="адрес электронной почты/номер телефона" x-autocompletetype="email" value="" >

 Что Вас интересует:
<textarea name="content" required rows="5" value="" ></textarea>

<input type="submit" value="отправить">
</form>
<!-- конец формы связи -->
		</div>	

			

			

		</div>
		
		

		{% endblock %}
